{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>Dashboard - {{ title }}</title>
    {% else %}
    <title>Dashboard</title>
    {% endif %}

    </head>

<body>

    <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
    <br>
    <a href="{% url 'dashboard:posts' %}">Posts</a>
    <br>
    <a href="{% url 'blog:post-create' %}">Write Post</a>
    <br>
    <a href="{% url 'dashboard:categories' %}">Categories</a>
    <br>
    <a href="{% url 'blog:category-create' %}">Create Category</a>
    <br>
    <a href="{% url 'dashboard:comments' %}">Comments</a>
    <br>
    <a href="{% url 'dashboard:stats' %}">Stats</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
    <hr>

    {% block content %}{% endblock %}

</body>

</html>



