{% extends 'dashboard/base.html' %}

{% block content %}
<h1>post detail</h1>

    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <p>{{post.author}}</p>

{% if post.author == user %}

    <div>
        <a href="{% url 'blog:post-update' post.id %}">Update</a>
        <a href="{% url 'blog:post-delete' post.id %}">Delete</a>
    </div>


    {% endif %}

    <hr>
    <h3>Comments</h3>

{% for comment in comments%}

    <p>{{comment.name}}</p>
    <p>{{comment.content}}</p>
    <p>{{comment.email}}</p>
    <hr>

{% endfor %}

{% endblock content %}